* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Rubik Gemstones', cursive;
    font-family: 'Space Mono', monospace;
    border: 1px solid black;
}