/* CONTACTO */

.contacto {
    min-height: 600px;
    padding: 80px 0;
    background-repeat: no-repeat;
    color: aqua;

    .main {
        margin: auto;
        width: 85%;
        border-radius: 1em;
        display: grid;
        grid-auto-rows: max-content;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        gap: .6em;
        animation: mostrar 1.5s ease-in-out;
    }

    .main__figure {
        overflow: hidden;
        border-radius: 1em;
        background-color: #0dcaf072;
        display: flex;
        justify-content: space-around;

        img {
            margin: auto;
            width: 90%;
            max-width: 60vw;
        }
    }

    .main__contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h1 {
            font-size: 2.3rem;
        }

        .main__input {
            width: 80%;
            max-width: 500px;
            outline: none;
            border: none;
            padding: 1em;
            font: inherit;
            border-radius: .6em;
        }

        .main__input--send {
            background-color: #D9594C;
            color: #fff;
            font-weight: 600;
        }

    }

    .main__form {
        display: grid;
        justify-items: center;
        gap: 1em;

        label {
            font-size: 25px;
        }
    }

    h2 {
        font-size: calc(1rem + .9vw);
        text-align: center;
        color: #FFFFFF;
        margin: 45px;
    }

    @keyframes mostrar {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

}

/* CONTACTO-FIN */