/* FOOTER */

.footer-color {
    background: #0d82f059;
    box-shadow: 25px 20px 5px 25px #0d82f0aa;

    .redes-container {
        display: flex;
        padding: 1rem;
        padding-bottom: 0;
        height: 100%;
        align-items: center;
        justify-content: center;

        ul {
            padding-left: 0;
            margin-top: 10px
        }

        ul li {
            display: inline-block;
            margin: 0 2px;
            width: 50px;
            height: 50px;
            text-align: center;

            .facebook:hover {
                background: var(--facebook);
            }

            .instagram:hover {
                background: var(--instagram);
            }

            .linkedin:hover {
                background: var(--linkedin);

            }

            .github:hover {
                background: var(--github);
            }
        }

        a {
            display: block;
            padding: 0 10px;
            background: #33333370;
            color: #fff;
            line-height: 50px;
            font-size: 18px;
            box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
            transition: .2s;
            border-radius: 5px;

        }
    }

    .footer__parrafo {
        display: flex;
        color: #FFFFFF;
        justify-content: center;
        text-align: center;
        padding: 17px;
    }

}

.redes-container ul:hover a {
    filter: blur(2px);
}

.redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

/* FOOTER-FIN */