/*NAVEGADOR*/

nav {
    background: #0d83f091;
    height: 150px;
    width: 100%;
}

.enlace {
    position: absolute;
    padding: 6px 30px;
}

.logo {
    height: 130px;
}

nav ul {
    float: right;
    margin: -9px 0px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 37px 18px;
}

nav ul li a {
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
}

li a.active,
li a:hover {
    background: #a7291b;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #0B2545;
    float: right;
    line-height: 190px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width:1165px) {
    .enlace {
        padding: 14px 40px;
    }

    .logo {
        height: 115px;
    }

    nav ul li a {
        font-size: 15px;
    }

    nav ul li {
        margin: 38px 18px;
    }
}

@media (max-width:1043px) {
    .enlace {
        padding: 18px 32px;
    }

    .logo {
        height: 105px;
    }

    nav ul li a {
        font-size: 13px;
    }

    nav ul li {
        margin: 37px 18px;
    }
}

@media (max-width:961px) {
    .checkbtn {
        display: flex;
        padding: 8px 20px;
        margin: 50px 10px;
        color: #FFFFFF;
    }

    .logo {
        height: 80px;
    }

    .enlace {
        padding: 31px 22px;
    }

    nav ul {
        position: fixed;
        padding: 0px 50px;
        background: #0d82f0aa;
        top: 162px;
        right: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1000;
        border-radius: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
        line-height: 17px;
    }

    nav ul li a {
        font-size: 15px;
        padding: 0px 15px;
    }

    li a.active,
    li a:hover {
        background: #a7291b;
        transition: .5s;
    }

    #check:checked~ul {
        right: 5px;
    }
}

/* NAVEGADOR-FIN */